/* -------------------------------------------
common
---------------------------------------------- */
html,
body {
  font-size: 62.5%;
  background-color: #fafafa;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  color: #2c2c2c;
}

img {
  width: 100%;
}

/* -------------------------------------------
header
---------------------------------------------- */
.header {
  height: 104px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 99999;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  top: 0;
}
  
@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}
  
.header--default {
  background-color: rgba(255, 255, 255, 0.8);
}
  
.header__logo {
  width: 184px;
  margin: 44px 0 0 56px;
}
  
@media screen and (max-width: 767px) {
  .header__logo {
    margin: 10px 0 10px 10px;
    width: 100px;
  }
}

.header__nav {
  margin: 0 0 0 64px;
  padding-top: 54px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header__nav {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 100px;
  }
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: block;
  }
}

.header__item {
  margin-left: 56px;
}

.header__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .header__item:first-child {
    margin-left: 56px;
  }
}

.header__item a:hover {
  color: #FF5F32;
  text-decoration: none;
}

.drawer-menu-item {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .drawer-menu-item {
    padding: 2.75rem .75rem;
  }
}
.drawer-hamburger {
  padding: 18px 1.75rem 30px;
}

/* -------------------------------------------
footer
---------------------------------------------- */
.footer {
  border-top: 1px solid #FF5F32;
}
  
.footer__inner {
  padding-top: 49px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    padding-top: 20px;
    padding-bottom: 12px;
  }
}
  
.footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
  
@media screen and (max-width: 767px) {
  .footer__wrap {
    display: block;
  }
}

.footer__logo {
  width: 147px;
  display: block;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    margin: 0 auto;
  }
}

.footer__nav {
  margin-left: 80px;
  margin-top: 6px;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    margin-left: 0;
    margin-top: 20px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
  
@media screen and (max-width: 767px) {
  .footer__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__item {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc( 21 / 14);
  color: #2c2c2c;
  margin-left: 56px;
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-left: 20px;
  }
}
  
.footer__item:first-child {
  margin-left: 0;
}

.footer__item:hover {
  color: #FF5F32;
}

.footer__copyRight {
  font-size: 1rem;
  font-weight: 300;
  color: #9B9B9B;
  text-align: center;
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .footer__copyRight {
    margin-top: 20px;
  }
}

/* -------------------------------------------
setting
---------------------------------------------- */
.drawer--right .drawer-nav {
  right: -80%;
  background-color: transparent;
}

.drawer-nav {
  width: 80%;
}

.drawer--right.drawer-open .drawer-hamburger {
  position: inherit;
  right: 80%;
}

@media screen and (min-width: 768px) {
  .drawer-hamburger {
    display: none;
  }
  .drawer--right .drawer-nav {
    left: 0;
  }
  .drawer-nav {
    position: relative;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .drawer-open .drawer-overlay {
    background-color: rgba(255,255,255,0.98);
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 0;
  }
}



/* Contact Form7 */
#contact .shoplist__title::after{
  content: "contact";
}
.wpcf7 form{
  width: 600px;
  margin:0 auto;
  background: white;
  padding: 30px;
}
.wpcf7 input{
  padding: 10px;
  border:none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
}
.wpcf7 label{
  display: block;
  font-size:16px;
  margin-bottom: 30px;
}
.wpcf7 label span{
  display: block;
}
.wpcf7 textarea{
  display: block;
  width: 100%;
  border: 1px solid #f5f5f5;
}
.wpcf7 [type="submit"]{
  background: #3ec6fb;
  width: 180px;
  margin: 40px auto 0 auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
}